@model CreerScoreTrouVM

<div class=container>
    <h1>Nouveau score trou</h1>
    <a asp-action="Index">Retour à l'index</a>
    <form asp-action="CreateScoreTrou">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="form-group col-6">
                <label asp-for="Score" class="control-label"></label>
                <div>
                    <input asp-for="Score" class="form-control" />
                    <span asp-validation-for="Score" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-6">
                <label asp-for="NomGolfeur" class="control-label"></label>
                <div>
                    <select asp-for="NomGolfeur" class="form-select">
                        @foreach(var item in Model.NomsGolfeurs)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-auto">
                <div class="col-md-offset-2">
                    <button type="submit" class="btn btn-light">Ajouter</button>
                </div>
            </div>
        </div>
    </form>
</div>